<launch>
    <arg name="test" doc="test"/>
    <arg name="output_type" default="screen" doc="output type"/>
    
    <node pkg="dummy_cpp" type="dummy_cpp" name="dummy_cpp" output="$(arg output_type)">
        <param name="pkg_test_name" value="dummy_cpp" />
        <param name="pkg_test_ver" value="0.1"/>
        <param name="test" value="$(arg test)"/>
    </node>
</launch>
